In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.ensemble import *
from sklearn.neighbors import *
from sklearn.linear_model import *
import json
import os
import pickle

# Note : The data is created by another project. so there is no missing data,etc.. *Data cleaning part*

In [2]:
data = pd.read_csv('./RainTomorrow_prediction_dataset.csv')

In [3]:
data.head()

       Date  City  RainToday  RainTomorrow
0  20081201     0          0             0
1  20081202     0          0             0
2  20081203     0          0             0
3  20081204     0          0             0
4  20081205     0          0             0

In [13]:
for _ in range(1000):
    data = data.sample(frac=1)
X = data.drop('RainTomorrow',axis=1)
y = data['RainTomorrow']

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [15]:
model_RandomForestClassifier = RandomForestClassifier()

In [16]:
model_RandomForestRegressor = RandomForestRegressor()

In [17]:
model_RandomForestRegressor.fit(X_train,y_train)

RandomForestRegressor()

In [18]:
model_RandomForestRegressor.score(X_test,y_test)

-0.055560730477667075

In [19]:
model_RandomForestClassifier.fit(X_train,y_train)

RandomForestClassifier()

In [20]:
model_RandomForestClassifier.score(X_test,y_test)

0.7283992918736794

In [ ]:
model_RandomForestClassifier_rs = RandomForestClassifier(n_jobs=-1)
for _ in range(1000):
    data = data.sample(frac=1)
X = data.drop('RainTomorrow',axis=1)
y = data['RainTomorrow']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
grid = {
    "n_estimators":[100,250,500,1000],
    "max_depth":[None],
    "max_features":["auto","sqrt",'log2'],
    "min_samples_split":[2,4],
    "min_samples_leaf":[2,4],
    'bootstrap':[False,True],
    'warm_start':[False,True]
}
rs = RandomizedSearchCV(estimator=model_RandomForestClassifier_rs,n_iter=50,cv=5,verbose=5,param_distributions=grid)
rs.fit(X_train,y_train)
print(rs.best_estimator_)
print(rs.best_index_)
print(rs.best_params_)
print(rs.best_score_)
print(rs.score(X_test,y_test))

In [21]:
pickle.dump(model_RandomForestClassifier,open('model.pkl','wb'))

In [22]:
!ls

city.json   model.pkl	    raintommorow.json
main.ipynb  raintoday.json  RainTomorrow_prediction_dataset.csv

In [23]:
X_test

            Date  City  RainToday
20501   20100520     7          0
117855  20140521    40          1
138501  20170327    47          1
120362  20130302    41          1
85200   20140117    29          1
...          ...   ...        ...
74175   20161210    25          0
109045  20140417    37          0
47910   20120428    16          0
81876   20130126    28          1
66738   20170327    22          0

[35022 rows x 3 columns]

In [24]:
y_test

20501     0
117855    0
138501    0
120362    0
85200     0
         ..
74175     0
109045    0
47910     0
81876     1
66738     1
Name: RainTomorrow, Length: 35022, dtype: int64